@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
body{
    font-family: 'Nanum Gothic Coding', serif;
    /*font-family: 'Jeju Gothic', serif;*/
    background-color: white;
}


h1{
    font-family: 'Jeju Gothic', serif;
    text-align: center;
}

a{
    font-family: 'Jeju Gothic', serif;
}

button{
    outline:0;
}
label{
    font-size: 15px;
}

select{
    width:170px;
}
#wrapper {
    padding-left: 0;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -230px;
    overflow-y: auto;
    background: white;
    font-family: 'Jeju Gothic', serif;
}

.nonsub_button{
    width:120px;
    font-size:22px;
    font-weight: 500;
    background-color: white;
    border:0;
    margin-bottom: 30px;
}
.nonsub_button:visited{
    color:yellow;
}
.nonsub_button:hover{
    color: #30D5C8;
}
.left{
    float:left;
}

.right{
    float:right;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #sidebar-wrapper {
        width: 250px;
    }
}



