@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
body{
    font-family: 'Nanum Gothic Coding', serif;
    /*font-family: 'Jeju Gothic', serif;*/
    background-color: white;
    font-size: 10px;
}
.alert-box {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;  
}
.table{
    font-size: 12px;
}
.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    display: none;
}

.warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    display: none;
}
.failure {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    display: none;
}

li{
    list-style:none;
    height: 50px;
}
.tablebox li{
        border-top: 1px solid #cccccc;
}

.tablebox button{
    background-color: white;
    border: none;
}

h1{
    font-family: 'Jeju Gothic', serif;
    text-align: center;
}

a{
    font-family: 'Jeju Gothic', serif;
}

button{
    outline:0;
}
label{
    font-size: 15px;
}

select{
    width:170px;
    outline:0;
}

#wrapper {
    padding-left: 0;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -230px;
    overflow-y: auto;
    background: white;
    font-family: 'Jeju Gothic', serif;
}

.nonsub_button{
    width:120px;
    font-size:22px;
    font-weight: 500;
    background-color: white;
    border:0;
    margin:23px 0 10px 0;
}

.nonsub_button:hover{
    color: #30D5C8;
    border-bottom: 2px solid #30D5C8;
}
.left{
    float:left;
}

.right{
    float:right;
}

.search{
    margin-bottom: 30px;
}
.search:hover{
    color:black;
    border-bottom: 2px solid #30D5C8;
}

.page_container{
    width:860px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;  
}

#td1{
    display:inline-block;
    width:167px;
    padding:0 8px;
    font-size: 15px;
}

#td2{
    display:inline-block;
    width:440px;
    padding:0 8px;    
    font-size: 15px;
}

#td3{
    display: inline-block;
    width: 88px;
    padding: 0 8px;
    font-size: 15px;
}

#td4{
    display: inline-block;
    width: 100px;
    padding: 8px;
    font-size: 15px;
}



@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #sidebar-wrapper {
        width: 250px;
    }
}



