<!doctype html>
<html ng-app>
<head>
<title>PHP MySQL API Consumed with AngularJS</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
<script src="./data.js"></script>
</head>

<body>
	<div ng-controller="GetUsers">
		<table>
		<thead><tr><th>ID</th><th>Name</th><th>Email</th></tr></thead>
		<tbody>
		<tr ng-repeat="world in users"><td>{{world.c_name}}</td><td>{{ world.field }}</td><td>{{world.img_name}}</td></tr>
		</tbody>
		</tfoot></tfoot>
		</table>
	</div>
	
<label ng-repeat="role in roles">
  <input type="checkbox" checklist-model="user.roles" checklist-value="role.id"> {{role.text}}
</label>

</body>
</html>